body {
    background-color: aliceblue;
    font-family: Poppins, sans-serif;
    /** font-family: Unbounded, cursive; roboto sans-serif*/
}

h1 {
    color: firebrick;
    font-weight: bold; 
    font-size: 35px;
    /**color: brown;*/
}
/**PONER LA IMAGEN DE PERFIL Y LOS ICONOS EN LA INFO PERS*/

h2 {
    color: black;
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
}

.nav-ancla {
    display: inline-block;
    background-color: salmon;
    color: white;
    font-size: 15px;
    padding: 5px;
    text-decoration: none;
}
.nav-ancla:hover {
    background-color: rosybrown;
}

h3 {
    color: black;
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
}

li {
    color: darkred;
    font-size: 16px;
}
