#mi_parrafo {
    color: red;
    font-size: 20px;
    border: 8px dotted pink;
}

h1 {
    font-family: roboto sans-serif;
    border: 5px solid black;
    padding: 20px 10px 10px 30px;
    margin: 30px 10px 5px 15px;
    font-weight: bold; 
    color: green;
}

/**
ESTO ES UN COMENTARIO DENTRO DE CSS
*/

section {
    width: 300px;
    border: 15px solid rebeccapurple;
    padding: 50px;
    margin: 20px;
}

#parrafo_prueba {
    color: red;
    width: 300px;
}

.estaesmiclase {
    font-weight: bold;
    color: lightblue;
}

body {
    background-color: beige;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightgreen;
    }
}