body {
    background-color: aliceblue;
    font-family: Poppins, sans-serif;
}

h1 {
    color: firebrick;
    font-weight: bold; 
    font-size: 50px;
    margin-top: 10px;
}

h2 {
    color: black;
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
}

.navAncla {
    display: inline-block;
    background-color: salmon;
    color: white;
    font-size: 15px;
    padding: 5px;
    text-decoration: none;
}
.navAncla:hover {
    background-color: rosybrown;
}

h3 {
    color: black;
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
}

.lista {
    list-style: none;
}

li {
    color: darkred;
    font-size: 16px;
}

i {
    color: black;
}

.btnVerMas {
    cursor: pointer;
    color: black; 
    border: 2px solid, black;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 4px;
    background-image: linear-gradient(to right, #fe8267, #e67ca7);
}

.ocultar {
    display: none;
}

.mostrar {
    display: block;
}

.btnFondo {
    display: flex;
    justify-content: right;
    margin-top: 30px;
}

.btnOscuro {
    margin-right: 2%;
    border: 2px solid black;
    font-family: poppins, sans-serif;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 4px;
    color: black;
    cursor: pointer;
    background-image: linear-gradient(to right, #e46cda, #566e9d);
}

.btnClaro {
    border: 2px solid black;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 4px;
    color: black;
    cursor: pointer;
    background-image: linear-gradient(to right, #ffcae3, #fc5997);
}

.btnFondo:hover {
    background-position: right;
}